**/.DS_Store
**/Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
*.pyc
*.out
*.iml
/.idea/
/.mvn/
mvnw
mvnw.cmd
/target/
/venv/
/node_modules/
.sass-cache
**/target/
**/build/
/.gradle/

script.sh
/out/
/webapps/
pathList.txt
patchPathList.txt
workStashList.txt
/upgrade/
/stash/